#test config file for mysql inspect

[innodb row lock current waits Critical]
expr = mysqlstat_InnodbCurrentRowLocks_value >= 20
true = InnodbCurrentRowLocks CRITICAL

[innodb row lock current waits Warning]
expr = mysqlstat_InnodbCurrentRowLocks_value >= 5
true = InnodbCurrentRowLocks WARN
false = InnodbCurrentRowLocks OK

[unsecure users]
expr = mysqlstat_UnsecureUsers_value > 0 
true = UnsecureUsers WARN
false = UnsecureUsers OK

[active long run queries crit]
expr = mysqlstat_ActiveLongRunQueries_value >= 50
true = ActiveLongRunQueries CRIT

[active long run queries warn]
expr = mysqlstat_ActiveLongRunQueries_value >= 30
true = AciveLongRunQueries WARN
false = AciveLongRunQueries OK

[sessions unauthenticated crit]
expr = mysqlstat_UnauthenticatedSessions_value > 300
true = UnauthenticatedSessions CRIT

[sessions unauthenticated warn]
expr = mysqlstat_UnauthenticatedSessions_value > 200
true = UnauthenticatedSessions WARN
false = UnauthenticatedSessions OK

[locked sessions crit]
expr = mysqlstat_LockedSessions_value >= 32
true = LockedSessions CRIT

[locked sessions warn]
expr = mysqlstat_LockedSessions_value >= 16
true = LockedSessions WARN
false = LockedSessions OK

[session tables locks crit]
expr = mysqlstat_SessionTablesLocks_value >= 32
true = SessionTablesLocks CRIT
 
[session tables locks warn]
expr = mysqlstat_SessionTablesLocks_value >= 16
true = SessionTablesLocks WARN
false = SessionTablesLocks OK

[session global read locks crit]
expr = mysqlstat_SessionGlobalReadLocks_value >= 32
true = SessionGlobalReadLocks CRIT
 
[session global read locks warn]
expr = mysqlstat_SessionGlobalReadLocks_value >= 1
true = SessionGlobalReadLocks WARN
false = SessionGlobalReadLocks OK

[session copying to table crit]
expr = mysqlstat_SessionsCopyingToTable_value >= 32
true = SessionsCopyingToTable CRIT
 
[session copying to table warn]
expr = mysqlstat_SessionsCopyingToTable_value >= 16
true = SessionsCopyingToTable WARN
false = SessionsCopyingToTable OK

[sessions statistics crit]
expr = mysqlstat_SessionsStatistics_value >= 32
true = SessionsStatistics CRIT
 
[sessions statistics warn]
expr = mysqlstat_SessionsStatistics_value >= 16
true = SessionsStatistics WARN
false = SessionsStatistics OK

[oldes query s crit]
expr = mysqlstat_OldestQueryS_value >= 7200
true = OldestQueryS CRIT
 
[oldest query s warn]
expr = mysqlstat_OldestQueryS_value >= 600
true = OldestQueryS WARN
false = OldestQueryS OK

[slave seconds behind master crit]
expr = mysqlstat_SlaveSecondsBehindMaster_value >= 3600
true = SlaveSecondsBehindMaster CRIT
 
[slave seconds behind master warn]
expr = mysqlstat_SlaveSecondsBehindMaster_value >= 300
true = SlaveSecondsBehindMaster WARN
false = SlaveSecondsBehindMaster OK

[binlog size warn]
expr = mysqlstat_BinlogSize_value > 600000000000
true = BinlogSize WARN
false = BinlogSize OK






